<div class="box-title">
  <div class="container-fluid">
    <div class="row">
      <div class="col-8">
        <h3>UNIDADE {{unidadeAtual.id}}</h3>
      </div>
      <div class="col-4 text-right">
        <h3>AJUDA <i class="far fa-question-circle"></i></h3>
      </div>
    </div>
  </div>  
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <h5 class="unid-title ng-binding" ng-show="topicoAtual" >Tópico {{topicoAtual.id}}: {{topicoAtual.nome}} {{tnome}}</h5>
    </div>
  </div>
</div>