<script src="assets/js/style.js"></script>
<nav id="sidebar" class="sidebar-wrapper">
  <div class="sidebar-content">
    <div class="sidebar-brand">
      <a class="navbar-brand" href="#">
        <img src="assets/images/logo-curso.svg" class="img-fluid"></a>
      <div id="close-sidebar">
        <i class="fas fa-times"></i>
      </div>
    </div>
    <!-- sidebar-menu  -->
    <div class="sidebar-menu">
      <ul class="nav flex-column">
        <li id="list1" class="nav-item active" >
          <a href="#">
              <img src="assets/images/inicio-icon.svg" class="img-fluid">
            <span>Início</span>
          </a>              
        </li>
        <li id="list2" class="sidebar-dropdown" ng-show="mostrarMenuUnidades">
          <a>
            <img src="assets/images/material-icon.svg" class="img-fluid"> Material de Estudo
          </a>
          <div class="nav-item sidebar-submenu">
            <ul ng-repeat="unidade in unidades"">
              <li><a  ng-href="{{unidade.url}}"><span >{{unidade.label}}</span></a></li>
            </ul>            
          </div>
        </li>
        <li class="nav-item">
          <a href="#">
            <img src="assets/images/complemento-icon.svg" class="img-fluid"> 
            <span>Material Complementar</span>
          </a>
        </li>
        <li class="nav-item">
          <a href="#">
              <img src="assets/images/quizzes-icon.svg" class="img-fluid">
            <span>Quizzes</span>
          </a>
        </li>
        <li class="nav-item">
          <a href="#">
              <img src="assets/images/forum-icon.svg" class="img-fluid">
            <span>Fórum</span>
          </a>
        </li>           
      </ul>
    </div>    
    <img src="assets/images/logo-tuttoria-bc.svg" class="img-fluid tutoria-logo">   
  </div> 
</nav>

<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light flex-column">
  <div class="container">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">&nbsp; Início <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item dropdown" ng-show="mostrarMenuUnidades">
          <a class="nav-link dropdown-toggle" href="javascript:void(0);" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            &nbsp; UNIDADES
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a ng-repeat="topico in unidadeAtual.topicos" ng-class="{'menu-selecionado': topico.selecionada}" class="dropdown-item" ng-href="{{topico.url}}"><span class="menu-espaco menu-dropdown-color">{{topico.label}} - {{topico.nome}}</span></a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="assets/pdf/creditos.pdf" target="_blank">&nbsp; Créditos</a>
        </li>
      </ul>
    </div>
    <div ng-include src="'partials/progress-bar.html'"></div>   
  </div>
</nav> -->