<div class="modal fade" id="{{target}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog {{tamanho}}">
    <div class="modal-content">

      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">{{titulo}}</h4>
        <button type="button" class="close" data-dismiss="modal">        
        <span aria-hidden="true">&times;</span>
        <span class="sr-only">Close</span></button>        
      </div>

      <div class="modal-body" ng-transclude></div>

      <div class="modal-footer">
        <button type="button" class="btn btn-success ng-binding tam-botao-modal" data-dismiss="modal">Voltar</button>
      </div>

    </div>
  </div>
</div>
