<div class="container-fluid">
  <div class="row justify-content-center" ng-controller="PaginationCtrl">
    <div class="col-4 col-md-1 text-right">
      <!-- Habilitado -->
      <a href="{{urlPaginaAnterior}}" ng-show="!anteriorDesativado" class="{{btdesativado || 'botao-previus'}}">
        <img src="assets/images/anterior-botao.svg" class="img-fluid btn-pagination">
      </a>
      <!-- Desabilitado -->
      <img src="assets/images/anterior-botao.svg" ng-show="anteriorDesativado" disabled="true" disabled="true" class="img-fluid btn-pag-desative">
    </div>
    <div class="col-1">
        <div class="text-center">{{paginacaoAtual}}</div>
    </div>
    <div class="col-4 col-md-1 text-left">
      <!-- Habilitado -->
      <a href="{{urlProximaPagina}}" ng-show="!proximoDesativado">
        <img src="assets/images/proximo-botao.svg" class="img-fluid btn-pagination">
      </a>
      <!-- Desabilitado -->
      <img src="assets/images/proximo-botao.svg" ng-show="proximoDesativado"  disabled="true" class="img-fluid btn-pag-desative">
    </div>
  </div>
</div>



