<div id="progressbar" ng-controller="includeController" >
  <ul class="nav justify-content-end" ng-controller="autoRefreshController">
    <li class="nav-item">
      <div class="progress" >
        <div class="progress-bar" role="progressbar" style="width: {{totalPercents}}%;" aria-valuenow="{{totalPercents}}" aria-valuemin="0" aria-valuemax="100"></div>
      </div>        
    </li>
    <li>{{totalPercents}}%</li>
  </ul>
</div>
