<div ng-include src="'partials/header.html'"></div>
<br><br>
<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <p><b>Introdução</b></p>
      <p>Os profissionais de saúde devem estar atentos e preparados para atuarem em situações de urgência e emergência, pois a capacitação profissional, a dedicação e o conhecimento teórico e prático, irão fazer a diferença no momento crucial do atendimento ao paciente. Ao final deste tópico, você será capaz de:</p>
      <ul>
        <li>Descrever as principais causas de morte da população brasileira;</li>
        <li>Entender as repercussões da mortalidade por agravos agudo de saúde;</li>
        <li>Debater sobre estratégias para enfrentamento das principais causas de morte da população brasileira.</li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-1">
      <img src="assets/images/unidade_2/un2-tp2-pg1-megafone.svg" class="img-fluid">
    </div>
    <div class="col-11 text-box">
      <p>Antes de mais nada, você precisa entender a definição de urgência e emergência. Dúvidas quanto ao uso de cada termo é comum até mesmo entre profissionais da saúde. O Conselho Federal de Medicina (CFM), define urgência como a ocorrência imprevista ou aguda de algum agravo à saúde. Já a emergência é uma constatação médica de condições de agravo à saúde que implicam risco iminente à vida ou sofrimento intenso, exigindo, assim, tratamento médico imediato. Ou seja, urgência é relacionado ao agravo e a emergência é a repercussão clínica do agravo no doente. No dia a dia, é comum utilizarem os termos como sinônimos ou ainda o uso deles juntos, como por exemplo, “Rede de Urgência e Emergência”.</p>
    </div>
  </div>
</div>
<br><br>
<div ng-include src="'partials/pagination.html'"></div>
<br><br>