<div ng-include src="'partials/header.html'"></div>
<br><br>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <img src="assets/images/unidade_2/un2-tp2-pg2-diferenca.svg" class="img-fluid">
    </div>
    <div class="col-md-6">
      <p>“A emergência é mais urgente que a urgência, ou a urgência é mais emergência que a própria emergência?”</p>
      <p>Aquilo que não se mede, não se controla. Com base nesta afirmação, é essencial o conhecimento dos indicadores epidemiológicos das principais doenças que afligem uma população. É fundamental que você saiba que atualmente a principal causa de morte da população brasileira está nas doenças cardiovasculares. Seguido por neoplasias e, na terceira posição, os óbitos por causas externas (tabela 1), ou seja, TRAUMA.</p>
      <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
            <tr class="tab-subtitle">
              <th scope="col">Causa CID-10</th>
              <th scope="col">2015</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">Doenças do Aparelho Circulatório</th>
              <td>349.642</td>
            </tr>
            <tr class="tr-table">
              <th scope="row">Neoplasias</th>
              <td>209.780</td>
            </tr>
            <tr>
              <th scope="row">Causas Externas</th>
              <td>152.136</td>
            </tr>
            <tr class="tr-table">
              <th scope="row">Doenças do Aparelho Respiratório</th>
              <td>149.541</td>
            </tr>
          </tbody>
        </table>
      </div>      
      <p><small>Atenção: Em alguns estados brasileiros, como o Ceará, as causas externas já superaram as neoplasias e ocupam a 2ª causa de mortalidade geral.</small></p>
    </div>
  </div>
</div>
<br><br>
<div ng-include src="'partials/pagination.html'"></div>
<br><br>