<div ng-include src="'partials/header.html'"></div>
<br><br>
<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="row">
        <div class="col-12">
          <p><b>Dados gerais da população brasileira</b></p>
          <p>Os dados epidemiológicos nacionais indicam que a população está envelhecendo e há uma queda nas taxas de natalidade. Efeito que expõe maior parte da população as doenças cardiovasculares, destacando dentro do cenário de emergência, o infarto agudo do miocárdio (IAM) e o acidente vascular cerebral (AVC). Outro fator preocupante é o impacto da doença trauma (causas externas) na sociedade. Observe na tabela 2 que as causas externas são as principais causas de morte entre adultos jovens. O que gera além dos problemas da saúde, impacto social, econômico e familiar.</p>
          <p>Tabela 2. Principais morbimortalidades no Brasil (por faixa etária).</p>
          <p class="d-block d-sm-none"><small>(Arraste a tabela para o lado)</small></p>
          <div class="table-responsive">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th colspan="13" class="table-title">FAIXA ETÁRIA (em anos)</th>
                </tr>
                <tr class="tab-subtitle">
                  <th></th>
                  <th>&lt;1</th>
                  <th>1 a 4</th>
                  <th>5 a 9</th>
                  <th>10 a 14</th>
                  <th>15 a 19</th>
                  <th>20 a 29</th>
                  <th>30 a 39</th>
                  <th>40 a 49</th>
                  <th>50 a 59</th>
                  <th>60 a 69</th>
                  <th>70 a 79</th>
                  <th>80 ou +</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th>1ª</th>
                  <td>Afecções Perinatais 68.345</td>
                  <td>Causas Externas 3.399</td>
                  <td>Causas Externa 2.869</td>
                  <td>Causas Externas 6.052</td>
                  <td>Causas Externas 42.606</td>
                  <td>Causas Externas 103.918</td>
                  <td>Causas Externas 75.548</td>
                  <td>Sistema Circulatório 20.220</td>
                  <td>Sistema Circulatório 20.220</td>
                  <td>Sistema Circulatório 20.220</td>
                  <td>Sistema Circulatório 20.220</td>
                  <td>Sistema Circulatório 20.220</td>
                </tr>
                <tr class="tr-table">
                  <th>2ª</th>
                  <td>Anomalias Congênitas 26.146</td>
                  <td>Anomalias Congênitas 2.640</td>
                  <td>Neoplasias 1.745</td>
                  <td>Neoplasias 1.901</td>
                  <td>Neoplasias 2.828</td>
                  <td>DIP 9.926</td>
                  <td>DIP 21.540</td>
                  <td>Causas Externas 53.593</td>
                  <td>Neoplasias 101.334</td>
                  <td>Neoplasias 136.257</td>
                  <td>Neoplasias 140.618</td>
                  <td>Sistema Respiratório 188.738</td>
                </tr>
                <tr>
                  <th>3ª</th>
                  <td>DIP 6.048</td>
                  <td>Sistema Respiratório 2.787</td>
                  <td>Sistema Nervoso 1.368</td>
                  <td>Sistema Nervoso 1.660</td>
                  <td>Sistema Nervoso 2.009</td>
                  <td>Neoplasias 7.363</td>
                  <td>Sistema Circulatório 20.220</td>
                  <td>Neoplasias 46.869</td>
                  <td>Sistema Digestivo 42.435</td>
                  <td>Sistema Respiratório 65.811</td>
                  <td>Sistema Respiratório 110.965</td>
                  <td>Neoplasias 101.334</td>
                </tr>
              </tbody>
            </table>
          </div>
          <p><small>DIP - Doenças Infecciosas e Parasitárias</small></p>         
        </div>
      </div>
    </div>
  </div>
</div>
<br><br>
<div ng-include src="'partials/pagination.html'"></div>
<br><br>