<div ng-include src="'partials/header.html'"></div>
<br><br>
<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <p><b>Impacto das Emergências Traumáticas</b></p>
      <p>Importantíssimo que você entenda o significado de trauma, como uma emergência cirúrgica. Ela define qualquer agravo provocado por uma agente externo ao corpo que pode um agente mecânico, químico, físico ou térmico. Por isso a denominação "causas externas". Mas poderia ser denominada doença trauma. Então, se você pensava que trauma tem apenas relação com lesões ósseas, como fraturas, adote agora a definição correta e mais ampla do trauma</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <img src="assets/images/unidade_2/un2-tp2-pg4-atropelamento.png" class="img-fluid">
      <p class="text-center">Atropelamento é um trauma!</p>
    </div>
    <div class="col-md-4">
      <img src="assets/images/unidade_2/un2-tp2-pg4-baleado.png" class="img-fluid">
      <p class="text-center">Baleado é um trauma!</p>
    </div>
    <div class="col-md-4">
      <img src="assets/images/unidade_2/un2-tp2-pg4-afogamento.png" class="img-fluid">
      <p class="text-center">Afogamento é um trauma!</p>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <p>E no Brasil, o grande problema do trauma é relacionado com a violência interpessoal (homicídios) e a violência no trânsito. Podemos até dizer que vivemos uma guerra urbana, devido ao grande número de homicídios. Cerca de 30 vezes maior que o da Europa. Equivale a uma queda de um avião Boieng lotado por dia. Em 2015, foram registrados 59.080 homicídios no Brasil, o que equivale a uma taxa por 100 mil habitantes de 28,9.</p>
    </div>
  </div>
</div>
<br><br>
<div ng-include src="'partials/pagination.html'"></div>
<br><br>