<div ng-include src="'partials/header.html'"></div>
<br><br>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <p>A violência no trânsito no Brasil, em 2014, resultou cerca de 44 mil mortes. Com destaque aos eventos envolvendo motos. É um problema de saúde pública que extrapola os limites de atuação do próprio setor saúde, pela necessidade de articulação e desenvolvimento de políticas intersetoriais de promoção e prevenção. A falta do uso de capacete, excesso de velocidade, uso do álcool e desrespeito às leis de trânsito são os principais fatores relacionados. Estima-se que cerca de 1/4 dos custos do SUS são consumidos pelo trauma. Assim como a violência interpessoal, no trânsito, o perfil de vítimas são adultos jovens, do sexo masculino. Na figura 3 mostra a evolução das taxas de mortalidade por homicídios, trânsito e suicídio. Este considerado um crescente problema nos últimos anos.</p>
    </div>
    <div class="col-md-6">
      <p>Figura 3 - Evolução das taxas dos acidentes de transporte, homicídios e suicídios.</p>
      <img src="assets/images/unidade_2/un2-tp2-pg5-taxas.png" class="img-fluid">
    </div>
  </div>
</div>
<br><br>
<div ng-include src="'partials/pagination.html'"></div>
<br><br>