<div ng-include src="'partials/header.html'"></div>
<br><br>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <p><b>Impacto das Emergências Não Traumáticas</b></p>
      <p>Historicamente as doenças do aparelho circulatório são as principais causas de mortalidade e de atendimentos na rede de emergência. As síndromes coronarianas agudas (IAM e a angina instável) e o acidente vascular encefálico (AVC) são os agravos mais preocupantes. A complexidade dos fatores envolvidos na fisiopatologia do processo da aterosclerose faz com que seja um desafio a prevenção das doenças isquêmicas do coração. O controle da HAS tem grande influxo na morbimortalidade, enquanto diagnóstico e tratamento envolvem outros fatores de risco, tais como dislipidemia, tabagismo, diabetes, muitas vezes desconhecidos até o momento do primeiro evento coronariano (dor no peito – angina). </p>
      <p>As doenças infecto contagiosas, em especial, a dengue e desde 2015 a transmissão do vírus da zika e chikungunya, levam um grande número de pessoas para as emergências, contribuindo diretamente na lotação destas unidades.</p>
    </div>
    <div class="col-md-6">
      <p>Figura 4 - As 10 principais causas de morte no mundo em 2012.</p>
      <img src="assets/images/unidade_2/un2-tp2-pg6-causas-mortes.png" class="img-fluid">
    </div>
  </div>
</div>
<br><br>
<div ng-include src="'partials/pagination.html'"></div>
<br><br>