<div ng-include src="'partials/header.html'"></div>
<br><br>
<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <p><b>Referências</b></p>
      <p>ABRAMEDE. ASSOCIAÇÃO BRASILEIRA DE MEDICINA DE EMERGÊNCIA. <b>Vencemos</b>. 2017. Disponível em: &lt;<a href="http://www.abramede.com.br/site/noticias/MzA=">http://www.abramede.com.br/site/noticias/MzA=</a>&gt;. Acesso em: 30 out. 2017.</p>
      <p>BRASIL. Ministério da Saúde. Secretaria de Atenção à Saúde. Departamento de Atenção Especializada. <b>Manual de rotinas para atenção ao AVC</b>. Brasília: Editora do Ministério da Saúde, 2013.</p>
      <p>CEARÁ. Governo do Estado. <b>Boletim epidemiológico. Dengue, Chikungunya e Zika</b>. Secretaria de Saúde do Estado do Ceará: Fortaleza, 2017.</p>
      <p>CEARÁ. Governo do Estado. <b>Caderno de informação em saúde:</b> Região de Saúde Fortaleza. Secretaria de Saúde do Estado do Ceará: Fortaleza, 2017.</p>
      <p>CERQUEIRA, D. et al. <b>Atlas da violência 2017</b>. Rio de Janeiro: IPEA, FBSP, 2017.</p>
      <p>CFM. CONSELHO FEDERAL DE MEDICINA. <b>RESOLUÇÃO</b> CFM nº 1451/95. Disponível em: &lt;<a href="http://www.portalmedico.org.br/resolucoes/cfm/1995/1451_1995.htm">http://www.portalmedico.org.br/resolucoes/cfm/1995/1451_1995.htm</a>&gt;. Acesso em: 01 out. 2017.</p>
      <p>DEPARTAMENTO DE INFORMÁTICA. Sistema Único de Saúde. <b>Infarto agudo do miocárdio é primeira causa de mortes no País, revela dados do DATASUS</b>. Disponível em: &lt;<a href="http://datasus.saude.gov.br/noticias/atualizacoes/559-infarto-agudo-do-miocardio-e-primeira-causa-de-mortes-no-pais-revela-dados-do-datasus">http://datasus.saude.gov.br/noticias/atualizacoes/559-infarto-agudo-do-miocardio-e-primeira-causa-de-mortes-no-pais-revela-dados-do-datasus</a>&gt;. Acesso em: 12 mar. 2017.</p>
      <p>FORTALEZA. Prefeitura Municipal. <b>Sistema de informação de acidentes de trânsito de Fortaleza | SIAT-FOR</b>. Autarquia Municipal de Trânsito e Cidadania: Fortaleza, 2016.</p>
      <p>IBGE. INSTITUTO BRASILEIRO DE GEOGRAFIA E ESTATÍSTICA. COORDENAÇÃO DE POPULAÇÃO E INDICADORES SOCIAIS. <b>Síntese de indicadores sociais:</b> uma análise das condições de vida da população brasileira: 2015. Rio de Janeiro: IBGE, 2015.</p>
      <p>LOZANO, R. et al. Global and regional mortality from 235 causes of death for 20 age groups in 1990 and 2010: a systematic analysis for the Global Burden of Disease Study 2010. <b>The Lancet</b>, Londres, v. 380, n. 9859, p. 2053-2054, 2013.</p>
      <p>OBSERVATÓRIO NACIONAL DE SEGURANÇA VIÁRIA. <b>Íris</b>. Disponível em: &lt;<a href="http://iris.onsv.org.br/iris-beta/#/">http://iris.onsv.org.br/iris-beta/#/</a>&gt;. Acesso: 15 set. 2017.</p>
      <p>OMS. ORGANIZAÇÃO MUNDIAL DE SAÚDE. <b>Taxa de mortalidade hospitalar por infarto agudo do miocárdio no período de 30 dias após a internação</b>. Rio de Janeiro: Fiocruz, 2014.</p>
      <p>PORTAL DA SAÚDE. <b>Ministério da Saúde. Estatísticas vitais</b>. Disponível em: &lt;<a href="http://www2.datasus.gov.br/DATASUS/index.php?area=0205">http://www2.datasus.gov.br/DATASUS/index.php?area=0205</a>&gt;. Acesso em: 12 mar. 2017.</p>
      <p>PORTAL DA SAÚDE. Sistema Único de Saúde. <b>Sistema de Informação sobre Mortalidade</b>. 2017. Disponível em: &lt;<a href="http://svs.aids.gov.br/cgiae/sim">http://svs.aids.gov.br/cgiae/sim</a>&gt;. Acesso em: 12 mar. 2017.</p>
      <p>SBAIT. SOCIEDADE BRASILEIRA DE ATENDIMENTO INTEGRADO AO TRAUMATIZADO. <b>Quem somos</b>. 2017. Disponível em: &lt;<a href="http://www.sbait.org.br/br/a-sbait/quem-somos">http://www.sbait.org.br/br/a-sbait/quem-somos</a>&gt;. Acesso em: 12 mar. 2017.</p>
      <p>SILVA JÚNIOR, J. B.; RAMALHO, W. M. <b>Cenário epidemiológico do Brasil em 2033:</b> uma prospecção sobre as próximas duas décadas. Rio de Janeiro: Fundação Oswaldo Cruz, 2015.</p>
    </div>
  </div>
</div>
<br><br>
<div ng-include src="'partials/pagination.html'"></div>
<br><br>