<div ng-include src="'partials/header.html'"></div>
<br><br>
<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <p>Vimos anteriormente as principais causas de morte da população e é natural uma reflexão sobre medidas de combate a esta terrível realidade. De todas as medidas que podemos pensar em implantar, certamente, a prevenção é a mais necessária e efetiva estratégia de redução de morbimortalidade. Ao final deste tópico, você será capaz de:</p>
      <p>Identificar os principais fatores de risco de mortalidade na emergência <br>Compreender as estratégias de prevenção para emergência traumática e não traumática; <br>Discutir sobre o cenário brasileiro quanto as medidas de prevenção contra agravos de emergência; <br>traumático”.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <img src="assets/images/unidade_2/un2-tp3-pg1-ditado.svg" class="img-fluid">
    </div>
    <div class="col-md-6">
      <p>Um acidente de carro, em geral, é realmente um acidente? Ou é algo prevenível?</p>
      <p>Lembre-se que o termo “acidente” denota algo que ocorreu ao acaso, sem fator controlável. Dessa maneira, o termo mais apropriado seria “incidente” ou “evento".</p>
    </div>
  </div>
</div>
<br><br>
<div ng-include src="'partials/pagination.html'"></div>
<br><br>