<div ng-include src="'partials/header.html'"></div>
<br><br>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-10">
      <p>Ações de prevenção exigem investimento, controle, acompanhamento e constância para que alcancem de fato efeitos na mudança de comportamento, como mudar a consciência de um motorista que dirige sob efeito de bebida alcoólica. O trauma é um desafio mundial para qualquer sistema de saúde, gerando milhares de atendimentos nas unidades de emergência. Em 2002, cerca 5,2 milhões de pessoas morreram de trauma no mundo inteiro e, de acordo com a OMS, no ano de 2020, a violência no trânsito será a segunda causa externa de mortalidade no mundo. O trauma atinge todas as faixas etárias, não tem distinção de raça ou condição socioeconômica. Na maioria dos países, independentemente do seu nível de desenvolvimento, o trauma aparece entre as cinco principais causas de morte. De fato, prevenção é a palavra-chave!</p>
      <p>Prevenir o trauma é tão importante quanto o seu atendimento e igualmente complexo. É fundamental destacar a importância de medidas preventivas e assistenciais por parte de profissionais das áreas da saúde e da comunidade leiga, a fim de melhorar o quadro atual, que é desolador. A prevenção do trauma é, de longe, a mais barata e o modo mais seguro para reduzir o quantitativo de vítimas.</p>
    </div>
    <div class="col-md-2">
      <img src="assets/images/unidade_2/un2-tp3-pg2-prevencao.svg" class="img-fluid">
    </div>   
  </div>
  <div class="row">
    <div class="col-md-2">
      <img src="assets/images/unidade_2/un2-tp3-pg2-pensar.svg" class="img-fluid">
    </div>
    <div class="col-md-10 text-box">
      <p>Vejam que interessante um estudo do Centro Americano de Controle e Prevenção de Doenças (CDC) sobre prevenção: para cada dólar empregado em detector de fumaça, economizam-se 69 dólares; um dólar empregado em capacetes para ciclistas economiza 29 dólares; um dólar empregado em assentos de segurança para crianças economiza 32 dólares; um dólar empregado em faixas sinalizadoras no centro e na lateral das estradas economiza três dólares somente em custos médicos. É evidente que, de fato, a prevenção é o melhor caminho.</p>
    </div>
  </div>
  
</div>
<br><br>
<div ng-include src="'partials/pagination.html'"></div>
<br><br>