<div ng-include src="'partials/header.html'"></div>
<br><br>
<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <p>Praticamente metade das mortes no trauma ocorrem instantaneamente por lesões incompatíveis com a vida (figura 5). Então qual seria a maneira para evitar estas mortes? A resposta é prevenção.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <p>Figura 5 - Distribuição das mortes no trauma</p>
      <img src="assets/images/unidade_2/un2-tp3-pg3-distribuicao-trauma.png" class="img-fluid">
    </div>
    <div class="col-md-6">
      <br><br>
      <div class="row">
        <div class="col-12">
          <div class="text-box">
            <p>“É provável que investir em medidas permanentes de prevenção, seja mais barato que construir um novo hospital para atender vítimas de emergência.”</p>
          </div>
        </div>
      </div>
      <br><br>
      <div class="row">
        <div class="col-md-4">
          <img src="assets/images/unidade_2/un2-tp3-pg3-fique.svg" class="img-fluid">          
        </div>        
        <div class="col-md-8">
          <br>
          <p>A mortalidade por trauma corresponde a 10% de todas as causas de morte e, sem as devidas intervenções, prevê-se que esta proporção aumentará até 2030. <a href="https://www.paho.org/bra.../index.php?option=com_content&view=article&id=2989:traumas-matam-mais-que-as-tres-grandes-endemias-malaria-tuberculose-e-aids&Itemid=839" target="blank_">Clique aqui</a> para saber mais.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<br><br>
<div ng-include src="'partials/pagination.html'"></div>
<br><br>