<div ng-include src="'partials/header.html'"></div>
<br><br>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-8">
      <p>A Matriz de Haddon (Figura 5) é um método utilizado para análise de prevenção em trauma, através de uma avaliação em cada fase do incidente (pré-evento, evento e pós-evento). As intervenções no pré-evento constituem a prevenção primária e buscam evitar que o trauma aconteça. Por exemplo, construção de passarelas para travessia de pedestres em avenidas. Na fase do evento, o objetivo é reduzir a gravidade do trauma e ela é denominada prevenção secundária. Assim, incluem a exigência do uso de airbags e cinto de segurança. As intervenções do pós-evento traumático envolvem a atuação das equipes de saúde para tratamento e reabilitação. Falamos então em prevenção terciária, a qual depende diretamente da assistência de saúde ao doente.</p>
      <p>“Um profissional desqualificado e uma rede de urgência desestruturada podem causar danos adicionais e até mesmo interferir em mortalidade.”</p>
    </div>
    <div class="col-md-4">
      <div class="text-box">
        <p>A Matriz de Haddon (tabela abaixo) permite considerações simultâneas dos fatores hospedeiro, vetor e ambiente e os estágios no tempo de um evento. A matriz pode, assim, ser usada para analisar qualquer tipo de evento que determina lesão e identificar as intervenções para prevenir a sua ocorrência novamente ou reduzir o dano feito.</p>
      </div>
    </div>   
  </div>
  <div class="row">
    <div class="col-12">
      <p><b>Matriz de Haddon*</b></p>
      <p class="d-block d-sm-none"><small>(Arraste a tabela para o lado)</small></p>
      <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
            <tr class="tab-subtitle">
              <th></th>
              <th>Humano</th>
              <th>vetor</th>
              <th>Ambiente físico</th>
              <th>Ambiente sócio - econômico</th>              
            </tr>
          </thead>
          <tbody>
            <tr>
              <th>Pré-evento</th>
              <td>(ou hospedeiro) O hospedeiro é oredisposto ou superexposto ao risco?</td>
              <td>O vetor é fator de risco?</td>
              <td>É um ambiente de risco?</td>
              <td>O ambiente encoraja ou desencoraja o risco?</td>
            </tr>
            <tr class="tr-table">
              <th>Evento</th>
              <td>O hospedeiro é capaz de tolerar a força ou energia transferida?</td>
              <td>O vetor fornece proteção?</td>
              <td>O ambiente contribui para a lesão durante o evento?</td>
              <td>O ambiente contribui para a lesão durante o evento?</td>
            </tr>
            <tr>
              <th>Pós-evento</th>
              <td>Quão grave é o trauma ou o dano?</td>
              <td>O vetor contribui para o trauma?</td>
              <td>O ambiente contribui para a ocorrência  do trauma após o evento?</td>
              <td>O ambiente contrubui para o estabelecimento?</td>
            </tr>
          </tbody>
        </table>
      </div>
      <p><small>*Os termos usados na tabela sãp versões modificadas dos termos originalmente usados por Haddon.</small></p>
      <p>FONTE: Haddon(7)</p>
    </div>
  </div>
</div>
<br><br>
<div ng-include src="'partials/pagination.html'"></div>
<br><br>