<div ng-include src="'partials/header.html'"></div>
<br><br>
<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <p><b>Referências</b></p>
      <p>AWADA, S. B.; DAMASCENO, M. C. T.; MARTINS, H. S. (Edits.). <b>Pronto-socorro:</b> medicina de emergência. 3. ed. São Paulo: Manole, 2013.</p>
      <p>CORREIA, B. R.; CAVALCANTE, E.; SANTOS, E. A prevalência de fatores de risco para doenças cardiovasculares em estudantes universitários. <b>Revista da Sociedade Brasileira de Clínica Médica</b>, São Paulo, v. 8, n. 1, p. 25-29, 2010.</p>
      <p>DORIGATTI, A. E. et al. Importance of multidisciplinary trauma prevention program for youth. <b>Revista do Colégio Brasileiro de Cirurgiões</b>, v. 41, n. 4, p. 245-250, 2014.</p>
      <p>GAMA, G. G. G.; MUSSI, F. C.; GUIMARÃES, A. C. Revisando os fatores de risco cardiovascular:[revisão]. <b>Revista Enfermagem UERJ</b>, Rio de Janeiro, v. 18, n. 4, p. 650-655, 2010.</p>
      <p>HO, K. M. et al. Effect of an injury awareness education program on risk-taking behaviors and injuries in juvenile justice offenders: a retrospective cohort study. <b>PLoS one</b>, v. 7, n. 2, p. e31776, 2012.</p>
      <p>LEITÃO, F. B. P. et al. Prevenção e atendimento inicial do trauma e doenças cardiovasculares: um programa de ensino. <b>Revista Brasileira de Educação Médica</b>, v. 32, n. 4, p. 419-423, 2008.</p>
      <p>MAIO AMARELO. <b>O movimento</b>. Ano. Disponível em: &lt;<a href="http://maioamarelo.com/o-movimento/">http://maioamarelo.com/o-movimento/</a>&gt;. Acesso em: 14 jul. 2017.</p>
      <p>MALTA, D. C.; SILVA JR, J. B. O plano de ações estratégicas para o enfrentamento das doenças crônicas não transmissíveis no Brasil e a definição das metas globais para o enfrentamento dessas doenças até 2025: uma revisão. <b>Epidemiologia e Serviços de Saúde</b>, Brasília, v. 22, n. 1, p. 151-164, 2013.</p>
      <p>McSWAIN JR., N. E.; PONS, P. T.; SALOMONE, J. P. (Edits.). <b>PHTLS - Atendimento pré-hospitalar ao traumatizado</b>. 6. ed. Rio de Janeiro: Elsevier, 2007.</p>
      <p>NASR, A.; FRAGA, G. P.; SOUZA, H. P. As ligas acadêmicas de trauma no contexto do ensino, capacitação sobre trauma e prevenção. In: NASR, A.; FRAGA, G. P. <b>Ligas do trauma:</b> do Brasil para o mundo. São Paulo: Atheneu,2017.</p>
      <p>OMS. ORGANIZAÇÃO MUNDIAL DA SAÚDE. Relatório Mundial Sobre a Prevenção da Violência 2014. São Paulo: OMS, 2015.</p>
      <p>P.A.R.T.Y Brasil. Prevenção do Trauma Relacionado ao Álcool na Juventude. <b>Sobre nós</b>. 2017. Disponível em: &lt;<a href="https://programapartybrasil.wordpress.com/about/">https://programapartybrasil.wordpress.com/about/</a>&gt;. Acesso em: 11 mar. 2017.</p>
      <p>RIBEIRO, A. G.; COTTA, R. M. M.; RIBEIRO, S. M. R. A promoção da saúde e a prevenção integrada dos fatores de risco para doenças cardiovasculares [The promotion of health and integrated prevention of risk factors for cardiovascular diseases]. <b>Ciência & Saúde Coletiva</b>, Rio de Janeiro, v. 17, n. 1, p. 7-17, 2012.</p>
      <p>SETTERVALL, C. H. C. et al. Preventable trauma deaths. <b>Revista de Saúde pública</b>, São Paulo, v. 46, n. 2, p. 367-375, 2012.</p>      
    </div>
  </div>
</div>
<br><br>
<div ng-include src="'partials/pagination.html'"></div>
<br><br>