<div ng-include src="'partials/header.html'"></div>
<br><br>
<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="row">
        <div class="col-12">
          <p>O Sistema Único de Saúde (SUS) é complexo e formado por uma série de unidades que se complementam e buscam atender as pessoas de acordo com o demanda e de maneira eficiente. O objetivo de aprendizagem deste material é:</p>
          <ul>
            <li>Explicar a organização da Rede de Urgência e Emergência do SUS</li>
            <li>Determinar a classificação de risco em serviços de emergência</li>
            <li>Descrever cada componente da Rede de Urgência e Emergência</li>
          </ul>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-6">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br><br>
<div ng-include src="'partials/pagination.html'"></div>
<br><br>