<div ng-include src="'partials/header.html'"></div>
<br><br>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-8">
      <p><b>Classificação de Risco </b></p>
      <p>O cenário de lotação nas Unidades de Emergência é comum no Brasil. A grande demanda de pacientes gera um desafio no acolhimento e necessidade de aplicar um método de classificação de risco. Um dos mais conhecidos é o de Manchester, o qual utiliza um sistema de cores e o tempo correspondente para o atendimento (figura 1). O Manchester é um método utilizado mais na rede de atenção fixa, como hospitais e UPA´s. No SAMU 192, a cor laranja não é utilizada, a prioridade são os atendimentos classificados como vermelhos, os quais devem ser atendidos preferencialmente em até 15 minutos da solicitação telefônica.</p>
      <p>Entenda que no atendimento de emergência a prioridade é o agravo que ameaça a vida do paciente, sendo assim, podemos citar como exemplos de casos “vermelho” o infarto agudo do miocárdio (IAM) e uma vítima de ferimento por projétil de arma de fogo no abdômen com sinais clínicos de hemorragia importante. A avaliação para classificação de risco envolve a verificação dos sinais clínicos, sintomas e sinais vitais no momento do acolhimento do paciente. Nas unidades de emergência que implantaram acolhimento com classificação de risco (recomendado para todas estas unidades), o enfermeiro que realiza esta classificação e no SAMU 192, o responsável é o médico regulador.</p>
    </div>
    <div class="col-md-4 text-center">
      <p>Figura 1 - Protocolo de Manchester</p>
      <a href="javascript:void(0);" data-toggle="modal" data-target="#image1">
        <img src="assets/images/unidade_2/un2-tp1-pg2-manchester.svg" class="img-fluid">
      </a>
      <p><small>(Clique para ampliar a imagem)</small></p>
    </div>
  </div>
</div>
<br><br>
<div ng-include src="'partials/pagination.html'"></div>
<br><br>
<modal target="image1" titulo="Protocolo de Manchester">
  <div ng-include src="'views/unidade_2/modal/manchester.html'"></div>
</modal>