<div ng-include src="'partials/header.html'"></div>
<br><br>
<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <p><b>Referências</b></p>
      <p>BRASIL. Ministério da Saúde. Secretaria de Atenção à Saúde. Departamento de Atenção Especializada. <b>Manual instrutivo da rede de atenção às urgências e emergências no Sistema Único de Saúde (SUS)</b>. Brasília: Ministério da Saúde, 2013. Disponível em: &lt;<a href="http://bvsms.saude.gov.br/bvs/publicacoes/manual_instrutivo_rede_atencao_urgencias.pdf">http://bvsms.saude.gov.br/bvs/publicacoes/manual_instrutivo_rede_atencao_urgencias.pdf</a>&gt;. Acesso em: 18 Set. 2017.</p>
      <p>BRASIL. Ministério da Saúde. Secretaria de Atenção à Saúde. Política Nacional de Humanização da Atenção e Gestão do SUS. <b>Acolhimento e classificação de risco nos serviços de urgência</b>. Brasília: Ministério da Saúde, 2009. Disponível em: &lt;<a href="http://bvsms.saude.gov.br/bvs/publicacoes/acolhimento_classificaao_risco_servico_urgencia.pdf">http://bvsms.saude.gov.br/bvs/publicacoes/acolhimento_classificaao_risco_servico_urgencia.pdf</a>&gt;. Acesso em: 18 Set. 2017.</p>
      <p>BRASIL. Ministério da Saúde. Secretaria Executiva. <b>Urgência e emergência:</b> sistemas estaduais de referência hospitalar para o atendimento de urgência e emergência. Brasília: Ministério da Saúde, 2001. Disponível em: &lt;<a href="http://bvsms.saude.gov.br/bvs/publicacoes/urgencia_emergencia.pdf">http://bvsms.saude.gov.br/bvs/publicacoes/urgencia_emergencia.pdf</a>&gt;. Acesso em: 18 Set. 2017.</p>
      <p>BRASIL. Ministério da Saúde. <b>Política nacional de atenção às urgências</b>. 3. ed. Brasília: Editora do Ministério da Saúde, 2006.</p>
      <p>CFM. CONSELHO FEDERAL DE MEDICINA. <b>Resolução CFM nº 2.079/2014</b>. Dispõe sobre a normatização do funcionamento das Unidades de Pronto Atendimento (UPAs) 24h e congêneres, bem como do dimensionamento da equipe médica e do sistema de trabalho nessas unidades. CFM, 2014. Disponível em: &lt;<a href="https://portal.cfm.org.br/images/PDF/resolucao2079.pdf">https://portal.cfm.org.br/images/PDF/resolucao2079.pdf</a>&gt;. Acesso em: 18 Set. 2017.</p>
      <p>CFM. CONSELHO FEDERAL DE MEDICINA. <b>Resolução CFM no 2.077/14</b>. Dispõe sobre a normatização do funcionamento dos Serviços Hospitalares de Urgência e Emergência, bem como do dimensionamento da equipe médica e do sistema de trabalho. CFM, 2014. Disponível em: &lt;<a href="https://portal.cfm.org.br/images/PDF/resolucao2077.pdf">https://portal.cfm.org.br/images/PDF/resolucao2077.pdf</a>&gt;. Acesso em: 18 Set. 2017.</p>
      <p>CEARÁ. Governo do Estado. Secretaria da Saúde do Estado do Ceará. <b>Plano Estadual de Saúde 2016 - 2019. 2016</b>. Disponível em: &lt;<a href="http://www.saude.ce.gov.br/index.php/politicas-de-saude/compromissos/plano-estadual-da-saude#">http://www.saude.ce.gov.br/index.php/politicas-de-saude/compromissos/plano-estadual-da-saude#</a>&gt;. Acesso em: 21 Set. 2017.</p>
      <p>FRAGA, Gustavo Pereira; QUINTAS, Mario Luiz; ABIB, Simone de Campos Vieira. Trauma and emergency: is the unified health system (SUS) the solution in Brazil?. <b>Revista do Colégio Brasileiro de Cirurgiões</b>, [s.l.], v. 41, n. 4, p. 232-233, 2014. FapUNIFESP (SciELO). Disponível em: &lt;<a href="http://dx.doi.org/10.1590/0100-69912014004001">http://dx.doi.org/10.1590/0100-69912014004001</a>&gt;. Acesso em: 18 Set. 2017.</p>
      <p>CFM. CONSELHO FEDERAL DE MEDICINA. <b>Resolução CFM nº 2.110/14</b>. Dispõe sobre a normatização do funcionamento dos serviços pré-hospitalares móveis de urgência e emergência, em todo o território nacional. Portal CFM, 2014. Disponível em: &lt;<a href="http://www.samu.fortaleza.ce.gov.br/index.php/repositorio-institucional/send/10-resolucoes-de-conselhos-de-classe/77-resolucao-cfm-n-2-110-2014">http://www.samu.fortaleza.ce.gov.br/index.php/repositorio-institucional/send/10-resolucoes-de-conselhos-de-classe/77-resolucao-cfm-n-2-110-2014</a>&gt;. Acesso em: 21 Set. 2017.</p>
    </div>
  </div>
</div>
<br><br>
<div ng-include src="'partials/pagination.html'"></div>
<br><br>