<div class="col-md-12 course-content">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <h4 class="text-center">Equipe Técnica</h4>
      <div class="text-left">
        <table class="table table-bordered"  cellspacing="2" cellpadding="2">
          <tr>              
            <td class="bold font-16" width="50%">Presidente da República </td>
            <td class="bold font-16" width="50%">Autoria dos Módulos</td>
          </tr>
          <tr>
            <td>Michel Temer</td>
            <td>Ana Carolina de Lacerda Sousa</td>
          </tr>
          <tr>
            <td class="bold font-16">Ministro da Saúde </td>
            <td>Ana Cláudia Medeiros de Souza</td>
          </tr>
          <tr>
            <td>Ricardo José Magalhães Barros</td>
            <td>Ana Luiza Flores Saenger</td>
          </tr>          
          <tr>
            <td class="bold font-16">Secretaria de Vigilância em Saúde</td>
            <td>Célia Caldas</td>
          </tr>
          <tr>
            <td>Adeilson Loureiro Cavalcante</td>
            <td>Daiana Araujo da Silva</td>
          </tr>
          <tr>
            <td class="bold font-16">Departamento de Vigilância Epidemiológica</td>
            <td>Francisco José de Paula Júnior</td>                
          </tr>
          <tr>
            <td>Eduardo Hage Carmo</td>
            <td>Ivonne Natalia Solarte Agredo</td>
          </tr>
          <tr>
            <td class="bold font-16">Coordenador Geral de Doenças Transmissíveis </td>
            <td>Libia Roberta de Oliveira Souza</td>
          </tr>
          <tr>
            <td>Sérgio de Andrade Nishioka</td>
            <td>Luciana Branco da Motta</td>
          </tr>
          <tr>
            <td class="bold font-16">Comitê Gestor </td>
            <td>Swamy Lima Palmeira</td>
          </tr>
          <tr>
            <td>Andréa Soares Rocha da Silva</td>
            <td>Walquiria Aparecida Ferreira de Almeida</td>
          </tr>
          <tr>
            <td>Daiana Araujo da Silva</td>
            <td class="bold font-16">Designer Instrucional </td>
          </tr>
          <tr>
            <td>Sabrina Lázaro Mendes</td>
             <td>Ana Josiele Ferreira Coutinho</td>
          </tr>
          <tr>
            <td>Walquiria Aparecida de Almeida</td>
            <td>Maria Lucijane Gomes de Oliveira</td>
          </tr>
          <tr>
            <td class="bold font-16">Coordenadora Geral </td>
            <td>Maria Mirislene Vasconcelos Ferreira</td>
          </tr>
          <tr>
            <td>Andréa Soares Rocha da Silva </td>
            <td class="bold font-16">Colaboração na Área da Saúde</td>
          </tr>
          <tr>
            <td class="bold font-16">Coordenador Técnico </td>
            <td>Andréa Albuquerque</td>
          </tr>
          <tr>
            <td>Luiz Roberto de Oliveira </td>
            <td class="bold font-16">Design Gráfico</td>
          </tr>
          <tr>
            <td class="bold font-16">Coordenadora Administrativa </td>
            <td>Alan Silva Oliveira dos Santos</td>
          </tr>
          <tr>
            <td>Raquel de Melo Rolim </td>
            <td>Gabriela Ferreira Coutinho</td>
          </tr>
          <tr>
            <td class="bold font-16">Coordenação Pedagógica </td>
            <td class="bold font-16">Programação WEB</td>
          </tr>
          <tr>
            <td>Mônica Cardoso Façanha </td>
            <td>Luís Diego Pereira Cavalcante</td>
          </tr>
          <tr>
            <td class="bold font-16">Supervisor de Produção Conteúdo </td>
            <td>Luís Ednardo Façanha Wenceslau</td>
          </tr>
          <tr>
            <td>Daiana Araujo da Silva</td>
            <td>Nicolau Brasil</td>
          </tr>
          <tr>
            <td>Walquiria Aparecida de Almeida</td>
            <td class="bold font-16">Edição de vídeo</td>
          </tr>
          <tr>
            <td class="bold font-16">Secretária Administrativa</td>
            <td>André Luiz de Oliveira</td>
          </tr>
          <tr>
            <td>Fabíola Narciso de Medeiros</td>
            <td>Milício Custódio</td>
          </tr>
          <tr>
            <td>Nalu Andrade Mota</td>
            <td class="bold font-16">Administração AVA – Moodle</td>
          </tr>
          <tr>
            <td>Sheila Ferreira Barbosa</td>
            <td>Cleyson Carvalho Cândido</td>
          </tr>
          <tr>
            <td>Regina Claudia Macedo</td>
            <td class="bold font-16">Apoio Técnico</td>
          </tr>
          <tr>
            <td class="bold font-16">Assessoria de comunicação</td>
            <td>Rafael Soares</td>
          </tr>
          <tr>
            <td>Paulo Jefferson Barreto</td>
            <td>&nbsp;</td>
          </tr>                                                                                                              
        </table>
      </div>
    </div>
  </div>
</div>