<div class="box-title">
  <div class="container-fluid">
    <div class="row">
      <div class="col-8">
        <h3>Início</h3>
      </div>
      <div class="col-4 text-right">
        <h3>AJUDA <i class="far fa-question-circle"></i></h3>
      </div>
    </div>
  </div>  
</div>
<br>
<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <h1 class="text-center">Bem vindo ao Curso de Emergência Médica: <br>Suporte Imediato a Vida</h1>
    </div>  
  </div>
  <br>
  <div class="row justify-content-center">
    <div class="col-6">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-12">
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempora laboriosam id doloremque repudiandae fugit suscipit. Excepturi eos, aliquid atque corrupti aut odit temporibus, qui ipsum nisi, eum deleniti culpa facilis? Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officia cum non maiores voluptatibus perferendis nihil rem harum aperiam voluptatum. Suscipit neque reprehenderit dolor perferendis at ut. Earum corrupti dolorum quos.</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est blanditiis odio vitae, iste expedita fugiat a quo, optio nesciunt non accusamus quisquam ad ducimus aut. Quis perspiciatis cumque commodi dignissimos? Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae ab modi ratione. Autem, officia consequuntur nam aliquid voluptas omnis optio, laboriosam reprehenderit aperiam explicabo veritatis quos voluptatibus ullam similique dolor!</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque error, officia aut tempora temporibus voluptas voluptate iure sequi nesciunt iste, expedita culpa eveniet? Culpa dolore rerum dolor alias aliquid error. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Mollitia ad tempora distinctio similique praesentium, obcaecati beatae dicta deserunt possimus, ullam, nesciunt sed corrupti? Ullam, dicta dolores esse earum quisquam adipisci!</p>
    </div>  
  </div>
</div>

<br><br><br>