﻿<div class="box-title">
  <div class="container-fluid">
    <div class="row">
      <div class="col-8">
        <h3>UNIDADE {{unidadeAtual.id}}</h3>
      </div>
      <div class="col-4 text-right">
        <h3>AJUDA <i class="far fa-question-circle"></i></h3>
      </div>
    </div>
  </div>  
</div>
<br>
<div class="container-fluid"></div>
  <div class="row">
    <div class="col-12">
      <h1 class="text-center"><img src="assets/images/sumario-icon.svg" class="img-fluid icon-sumario"> Sumário</h1>
    </div>
  </div>
  <br>
  <div class="row" ng-repeat="topico in unidadeAtual.topicos">
    <div class="col-12">
      <div class="box-sumary">
        <a href="{{topico.url}}"><h3><img src="assets/images/topico-icon.svg" class="img-fluid icon-topico">  {{topico.label}}</h3>
        <p>{{topico.nome}}</p></a>
      </div>
    </div>
  </div>
</div>
<br><br>
