<div class="box-title">
  <div class="row">
    <div class="col-8">
      <h3>MATERIAL DE ESTUDO</h3>
    </div>
    <div class="col-4 text-right">
      <h3>AJUDA <i class="far fa-question-circle"></i></h3>
    </div>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-4"  ng-repeat="unidade in unidades">
    <div class="box-unity">
      <img src="#" class="img-fluid">
      <div class="bottom-text">
        <h5>{{unidade.label}} - {{unidade.nome}}</h5>
        <button type="button" class="btn btn-access">ACESSAR UNIDADE</button>
      </div>      
    </div>
    <br><br> 
  </div>
</div>
<br><br><br>

